<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- o electron usa o título na janela -->
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">

    <title>Tutorial Electron</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <div class="container">
        
        <h1>Hello Electron</h1>
        <button class="btn btn-outline-primary" onclick="sobre()">Sobre</button>
        <button class="btn btn-info" onclick="info()">Info</button>
        <button class="btn btn-warning" onclick="warning()">Warning</button>
        <button class="btn btn-secondary" onclick="select()">Select</button>
    </div>

    <!-- rodapé -->
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- renderização (sempre no fim) -->
    <script src="./renderer.js"></script>

</body>

</html>